.input-spinner {
    display: flex;
    /* Đặt hàng ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    justify-content: center;
}

.input-spinner .btn {
    width: 40px;
    /* Chiều rộng cố định */
    text-align: center;
    /* Căn giữa nội dung */
    padding: 5px;
    /* Thêm khoảng cách */
    border-radius: 5px;
    /* Bo góc */
}

.input-spinner input {
    text-align: center;
    /* Căn giữa số lượng trong ô nhập */
    width: 60px;
    /* Chiều rộng cố định cho ô nhập */
    font-weight: bold;
    /* Tăng độ đậm */
}

.input-group {
    flex-wrap: nowrap;
    /* Đảm bảo các phần tử không xuống hàng */
}


.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center !important;
}

.btn-primary {
    color: #fff;
    background-color: #3167eb;
    border-color: #3167eb;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1650e0;
    border-color: #154cd4;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(80, 126, 238, 0.5);
}

.left {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.col-lg {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.table-shopping-cart.table td,
.table-shopping-cart.table th {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.price-wrap {
    letter-spacing: -0.7px;
}

.table-shopping-cart .price-wrap {
    line-height: 1.2;
}

.table-shopping-cart .price {
    font-weight: bold;
    margin-right: 5px;
    display: block;
}

.text-muted {
    color: #969696;
}

.text-uppercase {
    text-transform: uppercase;
}

small {
    font-size: 80%;
}

.text-right {
    text-align: right !important;
}

var {
    font-style: normal;
}