{% extends 'base.html' %}

{% block page_title %}
    {% if not cart_items %}
        Giỏ hàng của bạn đang trống
    {% else %}
        Giỏ hàng của bạn
        {% endif %}
{% endblock page_title %}
{% block addin %}
    {% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
{% endblock addin%}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
   
    {% if not cart_items %}
    <h2 class="text-center">Giỏ hàng của bạn đang trống</h2> <br>
    <div class="text-center">
        <a href="{% url 'products' %}" class="btn btn-primary">Tiếp tục mua sắm</a>
    </div> <br>
    {% else %}
    <div class="row">
        <aside class="col-lg">
    <div class="card">
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Sản phẩm</th>
      <th scope="col" width="120" class="left">Số lượng</th>
      <th scope="col" width="120">Giá</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
        {% for cart_item in cart_items %}
    <tr>
        <td>
            <figure class="itemside align-items-center">
                <div class="aside">
                    <img src="{{cart_item.product.image.url}}" class="img-sm" width="150" height="150">
                </div>
                <figcaption class="info">
                    <a href="{% url 'product_detail' cart_item.product.slug %}" class="title text-dark">{{cart_item.product.name}}</a>
                    <p class="text-muted small">
                        {% if cart_item.variations.all %}
						{% for item in cart_item.variations.all %}
							{{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
						{% endfor %}
					  {% endif %} 
                    </p>

                </figcaption>
            </figure>
        </td>
        <td> 
                        
                        <div class="col">
                            <div class="input-group input-spinner d-flex align-items-center justify-content-center">
                                <!-- Nút giảm -->
                                <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" 
                                   class="btn btn-light" 
                                   type="button" 
                                   id="button-minus">
                                    <i class="fa fa-minus"></i>
                                </a>
                                
                                <!-- Ô nhập số lượng -->
                                <input type="text" class="form-control text-center mx-2" value="{{cart_item.quantity}}" readonly>
                        
                                <!-- Nút tăng -->
                                <form action="{% url 'add_cart' cart_item.product.id %}" method="post" class="m-0">
                                    {% csrf_token %}
                                    {% for item in cart_item.variations.all %}
                                        <input type="hidden" name="{{item.variation_category | lower}}" value="{{item.variation_value | capfirst}}">
                                    {% endfor %}
                                    <button class="btn btn-light" type="submit" id="button-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        
                        
        </td>
        <td> 
            <div class="price-wrap"> 
                <var class="price">{{cart_item.total_price}}</var> 
                <small class="text-muted">{{cart_item.product.price}}</small> 
            </div> <!-- price-wrap .// -->
        </td>
        <td class="text-right"> 
        <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" class="btn btn-danger" onclick="return confirm('Bạn chắc chắn muốn xóa sản phẩm này?')"> Xóa sản phẩm</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-3">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Tổng tiền:</dt>
                  <dd class="text-right">{{total}} VNĐ</dd>
                </dl>
                <hr>
                <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Checkout </a>
                <a href="{% url 'products' %}" class="btn btn-light btn-block">Tiếp tục mua sắm</a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
  
    
    </div> <!-- container .//  -->
    </section>
   
    {% endif %}

    {% endblock %}
 