{% extends "base.html" %}

{% block page_title %}
    <title>Hồ sơ cá nhân</title>
{% endblock page_title %}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="row">
            <!-- User Information -->
            <div class="col-md-4 border-right">
                <h2>Welcome, {{ user.first_name }}</h2>

                <div class="list-group">
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>First name:</strong> {{ user.first_name }}</p>
                    <p><strong>Last name:</strong> {{ user.last_name }}</p>
                    <a href="{% url 'profile_update' %}" class="list-group-item list-group-item-action">Update Profile</a>
                    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Logout</a>
                </div>
            </div>

            <div class="col-md-8">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Tổng đơn hàng: {{ total_orders }}</h3>
                </div>
                <hr>

                <div class="d-flex justify-content-between align-items-center">
                    <h3>Số sản phẩm đã đặt: {{ total_products_bought }}</h3>
                </div>
                <hr>

                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>Đơn hàng chờ xử lý</h3>
                        <a href="{% url 'order-history' %}" class="btn btn-link">Lịch sử đơn hàng</a>
                    </div>
                    {% for order in pending_orders %}
                        <div class="card mb-3 border">
                            <div class="card-body">
                                <p><strong>Order ID:</strong> {{ order.id }}</p>
                                <p><strong>Status:</strong> {{ order.status }}</p>
                                <p><strong>Total:</strong> {{ order.get_total }} VND</p>
                            </div>
                        </div>
                    {% empty %}
                        <p>Không có đơn hàng chờ xử lý.</p>
                    {% endfor %}
                </div>
                <hr>

                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>Đơn hàng đã nhận thành công</h3>
                        <a href="{% url 'cart' %}" class="btn btn-link">Đặt thêm</a>
                    </div>
                    {% for order in completed_orders %}
                        <div class="card mb-3 border">
                            <div class="card-body">
                                <p><strong>Order ID:</strong> {{ order.id }}</p>
                                <p><strong>Status:</strong> {{ order.status }}</p>
                                <p><strong>Total:</strong> {{ order.get_total }} VND</p>
                            </div>
                        </div>
                    {% empty %}
                        <p>Không có đơn hàng đã nhận thành công.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
